<h2>Agregar Producto</h2>
<div class="row g-3">

    <form class="row g-3" action="/productos" method="POST"> 
    
        <div class="col-sm-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Título</span>
                <input id="input-title" type="text" name="title" required class="form-control" placeholder="Título del producto" aria-label="Título" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon2">Precio</span>
                <input id="input-price" type="text" name="price" required class="form-control" placeholder="Precio unitario" aria-label="Precio" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon3">Thumbnail</span>
                <input id="input-img" type="text" name="thumbnail" required class="form-control" placeholder="Thumbnail (URL)" aria-label="Thumbnail" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="d-grid gap-2">
                <button id="btn-submit" class="btn btn-primary btn-sm" type="submit">Agregar a la lista</button>
            </div>
        </div>
        
        <hr>
        <span>Chatea con otros usuarios</span>
        
        <div class="col-sm-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon3">Email</span>
                <input id="input-email" type="text" name="thumbnail" required class="form-control" placeholder="Ingresá tu email" aria-label="email" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-5">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon3">Mensaje</span>
                <input id="input-mensaje" type="email" name="thumbnail" required class="form-control" placeholder="Ingresá tu mensaje" aria-label="mensaje" aria-describedby="basic-addon1">
            </div>
        </div>


        <div class="col-sm-2">
            <div class="d-grid gap-2">
                <button id="btn-submit-mensaje" class="btn btn-success btn-sm">Enviar mensaje</button>
            </div>
        </div>
        
        <span>Historial de mensajes</span>
        
        <div id="historial-mensajes"></div>
        
        <hr>
        
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="table-body">
            
        </tbody>
    </table>

    <script>
        const socket = io();
        const btn = document.getElementById('btn-submit');
        const btnMensaje = document.getElementById('btn-submit-mensaje');
        
        const inputTitle = document.getElementById('input-title');
        const inputPrice = document.getElementById('input-price');
        const inputImg = document.getElementById('input-img');
        
        btnMensaje.addEventListener('click', (evt) => {
            evt.preventDefault();
            const email = document.getElementById('input-email').value;
            const mensaje = document.getElementById('input-mensaje').value;
            
            if (email !== '' && mensaje !== '') {
            
                socket.emit('nuevoMensaje', {
                    "email" : email,
                    "message" : mensaje,
                    "date" : new Date().toLocaleString()
                })
            }
            
        })
        
        
        btn.addEventListener('click', (evt) => {
            
            const title = inputTitle.value;
            const price = inputPrice.value;
            const img = inputImg.value;
            
            if (title !== '' && price !== '' && img !== '') {
                socket.emit('productoAgregado',{
                    "title": title,
                    "price": price,
                    "thumbnail": img
                })
            }
            
            
        })
        
        socket.on('listaMensajesActualizada', (data) => {
            console.log(data);
            $('#historial-mensajes').empty();
            data.forEach( (mensaje) => {
                $('#historial-mensajes').append(
                `
                <small style="display:block"> - <em style="color:#9f9f9f">[${mensaje.date}]</em> <strong style="color:green">${mensaje.email}</strong>: ${mensaje.message} </small>
                `
                )
            })
        })
        
        socket.on('listaMensajesBienvenida', (data) => {
            console.log(data);
            $('#historial-mensajes').empty();
            data.forEach( (mensaje) => {
                $('#historial-mensajes').append(
                `
                <small style="display:block"> - <em style="color:#9f9f9f">[${mensaje.date}]</em> <strong style="color:green">${mensaje.email}</strong>: ${mensaje.message} </small>
                `
                )
            })
        })
        
        socket.on('listaActualizada', (data) => {
            $('#table-body').empty();
            data.forEach( (element) => {
            
                $('#table-body').append(
                `
                <tr>
                    <td>${element.id}</td>
                    <td>${element.title}</td>
                    <td>${element.price}</td>
                    <td>${element.thumbnail}</td>
                </tr>
                `
                )
            })
            
        })
        
        socket.on('bienvenidoLista', (data) => {
            $('#table-body').empty();
            data.forEach( (element) => {
            
                $('#table-body').append(
                `
                <tr>
                    <td>${element.id}</td>
                    <td>${element.title}</td>
                    <td>${element.price}</td>
                    <td>${element.thumbnail}</td>
                </tr>
                `
                )
            })
            
        })
        
    </script>
    </form>
</div>