<h2>Login</h2>
<span class="small text-secondary">Don't have an account ? Create one <a href="/api/usuario/signup"><strong>here</strong></a></span>
<div class="row g-3">

    <form class="row g-3" action="/api/usuario/login" method="POST">

        <div class="col-sm-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Usuario</span>
                <input type="text" name="user" required class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon2">Contraseña</span>
                <input type="password" name="pass" required class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-sm" type="submit">Log in</button>
            </div>
        </div>



    </form>
</div>