<a class="list-group-item list-group-item-action list-group-item-light p-3" disabled href="/api/usuario/login">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#008f00" class="bi bi-person-check-fill"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
    </svg>
    Log in
</a>

{{#if status}}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api/usuario/logout">
{{else}}
    <a class="list-group-item list-group-item-action list-group-item-light p-3 list-group-item-primary disabled" disabled href="/api/usuario/logout">
{{/if}}

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#d50000" class="bi bi-person-dash-fill"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
    </svg>
    Log out
</a>

<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api/usuario/signup">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00a6a7" class="bi bi-person-plus-fill"
        viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd"
            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
    Sign Up
</a>